@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #8DA99B;
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
}

.logo img{
    height: 4rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding-right: 7rem;
}

.item{
    margin-inline: 2rem;
    font-size: 1.5rem;
}

.content-area{
    display: flex;
}

.name-character{
    margin-top: 8vw;
    width: 100%;
    justify-content: center;
    display: flex;
    position: absolute;
    font-size: 17vw;
}

.img-char{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50;
    
}
.img-character{
    height: 100%;
    transition:all 5ms ease-in;
}

.character-menu{
    top: 90vh;
    justify-content: center;
    display: flex;
    width: 100%;
    position: absolute;
}

.nav-toggle{
    margin: 25px;
    text-align: center;
    background-color: #8DA99B;
}

@media(min-width:1467px){
    .nav-toggle{
        display: none;
    }
}

@media(max-width:1466px) {
    .logo img {
        height: 4rem;
        padding-left: 7rem;
    }

    .menu {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: black;
        height: 5px;
        width: 100%;
        margin: 6px auto;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        left: 0px;
        padding-right: 10vw;
    }
}

@media(max-width:955px) {
    .logo img {
            height: 4rem;
            padding-left: 4rem;
        }
    .name-character {
        margin-top: 20vw;
        
        font-size: 17vw;
    }
    .menu{
        display: none;
    }
    .one,
    .two,
    .three {
        background-color: black;
        height: 5px;
        width: 100%;
        margin: 6px auto;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
        left: 0px;
        padding-right: 10vw;
    }
}

@media(max-width:675px) {
    .logo img {
        height: 6rem;
        padding-left: 4rem;
    }
    .name-character {
        margin-top: 35vw;

        font-size: 17vw;
    }

    .menu {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: black;
        height: 5px;
        width: 100%;
        margin: 6px auto;
    }

    .logo img {
        height: 4rem;
    }



    
}
@media(max-width:425px){
    .name-character {
            margin-top: 55vw;

            font-size: 17vw;
        }
}